[Unit]
Description=Kubernetes Proxy

[Service]
ExecStart=/usr/bin/hyperkube proxy --config={{ kube_proxy_config }}
Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
