[Unit]
Description=Kubernetes Proxy

[Service]
# For some reason, this chain will normally be created by _kubelet_,
# leading to a race condition at startup and a failing kube-proxy on the
# masters as they don't have the kubelet.
ExecStartPre=-/usr/sbin/iptables -t nat -N KUBE-MARK-DROP
ExecStart=/usr/bin/kube-proxy --config={{ kube_proxy_config }}
Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
