[Unit]
Description=Kubernetes Proxy

[Service]
EnvironmentFile=/etc/default/kube-proxy
ExecStart=/usr/bin/hyperkube proxy $DAEMON_ARGS
Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
